bleach==6.2.0 ; python_version >= "3.10" and python_version < "3.13"
brotli==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.10" and python_version < "3.13" and platform_python_implementation != "CPython"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "3.13"
configparser==7.2.0 ; python_version >= "3.10" and python_version < "3.13"
cssselect2==0.8.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version == "3.10"
fonttools==4.57.0 ; python_version >= "3.10" and python_version < "3.13"
html5lib==1.1 ; python_version >= "3.10" and python_version < "3.13"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "3.13"
idna==3.10 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==8.6.1 ; python_version >= "3.10" and python_version < "3.13"
iniconfig==2.1.0 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
kaleido==0.2.1 ; python_version >= "3.10" and python_version < "3.13"
laceworksdk==4.1.0 ; python_version >= "3.10" and python_version < "3.13"
logzero==1.7.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.13"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "3.13"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.13"
pydyf==0.11.0 ; python_version >= "3.10" and python_version < "3.13"
pyphen==0.17.2 ; python_version >= "3.10" and python_version < "3.13"
pyreadline3==3.5.4 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
pyside6-addons==6.9.0 ; python_version >= "3.10" and python_version < "3.13"
pyside6-essentials==6.9.0 ; python_version >= "3.10" and python_version < "3.13"
pyside6==6.9.0 ; python_version >= "3.10" and python_version < "3.13"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
python-dotenv==0.21.1 ; python_version >= "3.10" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.13"
shiboken6==6.9.0 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
tenacity==9.1.2 ; python_version >= "3.10" and python_version < "3.13"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
tomli==2.2.1 ; python_version == "3.10"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "3.13"
weasyprint==62.3 ; python_version >= "3.10" and python_version < "3.13"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "3.13"
zopfli==0.2.3.post1 ; python_version >= "3.10" and python_version < "3.13"
