<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSA Report</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <style type="text/css">
        @media (prefers-color-scheme: dark) {
          :root {
            --nc-tx-1: #000000;
            --nc-tx-2: #1A1A1A;
            --nc-bg-1: #FFFFFF;
            --nc-lk-1: #0070F3;
            --nc-lk-2: #0366D6;
            --nc-lk-tx: #FFFFFF;
            --nc-ac-1: #79FFE1;
            --nc-ac-tx: #0C4047;
          }
        }
        @media print {
          {% if pagesize %}
          @page {
            size: {{pagesize}} landscape;
          }
          {% endif %}
          table {transform: scale(1);}
          td, th {
            max-width: 150px;
            word-wrap: break-word;
          }
          p {break-inside: avoid;}
          div {break-inside: avoid;}
          .pagebreak { page-break-after: always; clear: both;}

        }


        @font-face {
          font-family: 'Inter';
          src: url('Inter-Regular.otf') format('otf');
        }

        body {
          font-family: 'Inter';
          width: 95%;
          max-width: 95%;
          color: black;
          background: #FFFFFF no-repeat padding-box;
        }


        header {
          background: #fff;
          padding: 2rem;

        }

        header img {
          height: 40px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }


        .section-one h1 {
          font-size: 45px;
          line-height: 60px;
          letter-spacing: 0px;
          color: #0000000;
          border-bottom: none;
        }

        .section-one h4 {
          font-size: 26px;
          line-height: 29px;
          letter-spacing: 0px;
          color: #000000;
        }

        .section-one p {
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0px;
          color: #000000;
          margin-top: .5rem;
          font-family: monospace;
          font-weight: normal;
        }

        .section-one blockquote {
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0px;
          color: #000;
          border-left: 13px solid #0f0f0f;
          background: #FFFFFF;
          padding: 1em;
          margin-bottom: 1.5rem;
          margin-top: 1.5rem;
        }

        .promographic {
            display: flex;
            justify-content: center;
        }
        .promographic img {
            width: 90%;
            height: 90%;
            }

        .section-two h2 {
          font-size: 40px;
          line-height: 61px;
          letter-spacing: 0px;
          color: #000;
          border-bottom: none;
          margin-bottom: 1rem;
        }

        .section-two p {
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0px;
          color: #000;
        }

        .section-two ul {
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0px;
          color: #000;
        }

        .section-two li {
          list-style: none;
          font-size: 16px;
        }

        .section-two li::before {
          content: "\2022";
          color: #000000;
          display: inline-block;
          font-size: 12px;
          padding-right: 12px;
        }

        .section-two .boxes {
         display: flex;
         margin-top: 3rem;
       justify-content: center;
        }

        .section-two .box {
          display: flex;
          flex-direction: column;
          flex-basis: 75%;
          margin-left: 15px;
        }

        .section-two .box:first-child {
          margin-left: 0;
        }

        .section-two .boxtitle p {
          display: flex;
          justify-content: center;
          height: 30px;
          align-items: start;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: 0px;
          color: #fff;
          background: #307FE2;
          padding: 15px 20px;
          margin-bottom: 0;
          text-align: center;
          border-radius:24px 24px 0 0;
        }

        .section-two .boxcontent {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          line-height: 85px;
          letter-spacing: 0px;
          color: #000000;
          border: 1px solid #307FE2;
          border-radius: 0 0 24px 24px;
          background: #fff;
          padding: 15px 20px;
        }

        .section-three b {
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0px;
          color: #000000;
          font-family: monospace;
          font-weight: normal;
        }

        p b {
          color: #000;
        }

        h2  {
          font-size: 40px;
          line-height: 61px;
          letter-spacing: 0px;
          color: #000000;
          border-bottom: none;
          clear: both;
        }

        h3 {
          font-size: 42px;
          line-height: 46px;
          letter-spacing: 0px;
          color: #000000;
          border-bottom: none;
          clear: both;
        }

        h4  {
          font-size: 26px;
          line-height: 29px;
          letter-spacing: 0px;
          color: #000000;
          clear: both;
        }

        ol {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #000;
          counter-reset: item;
          margin-left: 25px;
        }

        ol li {
          display: block;
          position: relative;
        }

        ol li:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: #000000;
            position: absolute;
            left: -25px;
        }

        p {
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0px;
          color: #000;
          clear: both;
        }

        table {
          margin-top: 1.5rem;
        }

        th {
          background: unset;
        }

        thead th {
          background: #307FE2;
          color: #fff;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0px;
          font-weight: normal;
        }

        tr:nth-child(even) {
          background: #F0F0F0;
        }

        th {
          padding: 1.5rem;
        }

        thead .blank, tbody .level0 {
          padding: 0;
          border-spacing: 0;
          text-align: center;
          border-left: unset;
          width: 50px;
        }

        td, th {
          border-style : hidden!important;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0px;
          color: #000000;
          font-weight: normal;
          max-width: 150px;
          word-wrap: break-word;
        }

        td {
          padding: 1.5rem;
        }

        .recommendations {
          font-size: 22px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #000000;
        }

        blockquote { font-size:.7em; padding:.7em }

        * {
          font-size: .9em;
        }

        table.host_vulns_summary_by_host td.col1.col1 {
          white-space: pre;
          text-align: left;
        }
        table.host_vulns_summary_by_host th.row_heading.col1 {
          white-space: nowrap;
          width: 15px;
        }

        table.container_vulns_summary_by_image td.col2 {
          white-space: pre; text-align:left
        }
        table.container_vulns_summary_by_image th.row_heading {
          white-space: nowrap; width: 15px
        }
        table.container_vulns_summary_by_image td.col0 {
          white-space: nowrap
        }
        table.container_vulns_summary_by_image td.col1 {
          white-space: nowrap
        }
        table.container_vulns_summary_by_image td.col3 {
          white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px
        }

        table.compliance_detail td.col0 {
          white-space: nowrap
        }
        table.compliance_detail .col3 {
          white-space: nowrap
        }
        table.compliance_detail .col4 {
          white-space: nowrap
        }
        table.compliance_detail th.col_heading {
          white-space: nowrap;
        }
        table.compliance_detail th.row_heading {
          white-space: nowrap; width: 15px
        }
    </style>
</head>
<body>
<header>
    {% if company_logo_html %}
    {{ company_logo_html | safe }}
    {% endif %}
    {% if custom_logo_html %}
    {{ custom_logo_html | safe}}
    {% endif %}

</header>
<br>
<div class="section-one">
    <h1>Assessment Report</h1>
    <h4>Report created for {{customer}}</h4>
    <p>{{date}}</p>
    <blockquote>
        Generated by {{author}}
        <br>
        {% set summary_data = [] %}
        {% if aws_compliance_data %}
        {% set _ = summary_data.append('AWS Accounts Analyzed: ' ~ aws_compliance_data.cloud_accounts_count) %}
        {% endif %}
        {% if azure_compliance_data %}
        {% set _ = summary_data.append('Azure Subscriptions Analyzed: ' ~ azure_compliance_data.cloud_accounts_count) %}
        {% endif %}
        {% if gcp_compliance_data %}
        {% set _ = summary_data.append('GCP Projects Analyzed: ' ~ gcp_compliance_data.cloud_accounts_count) %}
        {% endif %}
        {% if host_vulns_data %}
        {% set _ = summary_data.append('Hosts Scanned: ' ~ host_vulns_data.hosts_scanned_count) %}
        {% endif %}
        {% if container_vulns_data %}
        {% set _ = summary_data.append('Containers Scanned: ' ~ container_vulns_data.containers_scanned_count) %}
        {% endif %}
        {{ summary_data | join(', ') }}
    </blockquote>

    <div class="promographic">
        {% if polygraph_graphic_html %}
            {{ polygraph_graphic_html | safe }}
        {% endif %}
    </div>

</div>

<div class="section-two">
    <h2>Executive Summary</h2>
    <p>
        The purpose of this report is to highlight the assessment findings for {{customer}}. The findings below are
        representative of the cloud accounts and hosts that were in scope of the engagement and cover cloud compliance
        and vulnerability findings leveraging FortiCNAPP agentless scanning capabilities. This report provides a
        detailed summary of each identified area of interest and how it pertains to your overall cloud security and
        risk.
    </p>
    <p>
        Below is a summary of findings. Additional detail is provided on subsequent pages:
    </p>

    <div class="boxes">
        {% if container_vulns_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Total Containers with Critical Vulnerabilities</p>
            </div>
            <div class="boxcontent">
                <span>{{container_vulns_data.critical_vuln_count}}</span>
            </div>
        </div>
        {% endif %}

        {% if host_vulns_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Hosts with Critical Vulnerabilities</p>
            </div>
            <div class="boxcontent">
                <span>{{host_vulns_data.critical_vuln_count}}</span>
            </div>
        </div>
        {% endif %}

        {% if aws_compliance_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Total Critical AWS Compliance Findings</p>
            </div>
            <div class="boxcontent">
                <span>{{aws_compliance_data.critical_finding_count}}</span>
            </div>
        </div>

        {% endif %}

        {% if azure_compliance_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Total Critical Azure Compliance Findings</p>
            </div>
            <div class="boxcontent">
                <span>{{azure_compliance_data.critical_finding_count}}</span>
            </div>
        </div>

        {% endif %}

        {% if gcp_compliance_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Total Critical GCP Compliance Findings</p>
            </div>
            <div class="boxcontent">
                <span>{{gcp_compliance_data.critical_finding_count}}</span>
            </div>
        </div>
        {% endif %}

        {% if alerts_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Total High / Critical Behaviors Detected</p>
            </div>
            <div class="boxcontent">
                <span>{{ alerts_data.high_critical_finding_count}}</span>
            </div>
        </div>
        {% endif %}

        {% if secrets_data %}
        <div class="box">
            <div class="boxtitle">
                <p>Number of Secrets Detected</p>
            </div>
            <div class="boxcontent">
                <span>{{ secrets_data.secrets_count}}</span>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
    <p>
        <b><u>
            This assessment offers a glimpse into the value that FortiCNAPP provides customers, including:
        </u></b>
    </p>
    <p>
    <ul>
        <li>Reduce alerts 100:1</li>
        <li>Speed up security investigations by 80%</li>
        <li>Decrease SIEM ingestion costs by 50%</li>
        <li>Improve detections of anomalous behaviors in cloud accounts and workloads</li>
        <li>Accelerate security throughout development with less effort</li>
    </ul>
    </p>

    {% if recommendations %}
    <div class="recommendations">
        {{ recommendations | safe }}
    </div>
    {% endif %}


</div>
<div class="section-three">
    {% if secrets_data.secrets_count > 0 %}
    <div class="secrets">

        <h4>Exposed SSH Keys</h4>
        <p>
            Using FortiCNAPP agentless workload scanning the following SSH Keys have been found on your workloads:
        </p>

        {{ secrets_data.secrets_raw.to_html(index=False) | safe }}

    </div>
    {% endif %}
    <div class="compliance_findings">
        {% if aws_compliance_data or azure_compliance_data or gcp_compliance_data %}
        <h4> Compliance Findings </h4>
        <p>Using FortiCNAPP agentless compliance functionality, we’ve assessed the current security posture against best
            practices, policies, and compliance frameworks. FortiCNAPP identified the following:</p>
        {% endif %}

        {% if aws_compliance_data and aws_compliance_data.summary_count > 0 %}
        <div class="pagebreak">
            <h4>AWS Compliance Findings</h4>
            <p><b>
                Total AWS Accounts Analyzed: {{aws_compliance_data.cloud_accounts_count}}
            </b>

                {{ aws_compliance_data.compliance_summary.to_html(index=False) | safe }}
                {{ aws_compliance_data.compliance_findings_by_service_bar_graphic | safe }}
                {{ aws_compliance_data.compliance_findings_by_account_bar_graphic | safe }}
            </p>
        </div>
        {% endif %}

        {% if azure_compliance_data and azure_compliance_data.summary_count > 0 %}
        <div class="pagebreak">

            <p>
            <h4>Azure Compliance Findings</h4>
            <b>
                Total Azure Subscriptions Analyzed: {{azure_compliance_data.cloud_accounts_count}}
            </b>
            {{ azure_compliance_data.compliance_summary.to_html(index=False) | safe }}
            {{ azure_compliance_data.compliance_findings_by_service_bar_graphic | safe }}
            {{ azure_compliance_data.compliance_findings_by_account_bar_graphic | safe }}
            </p>

        </div>
        {% endif %}

        {% if gcp_compliance_data and gcp_compliance_data.summary_count > 0 %}
        <div class="pagebreak">
            <p>
            <h4>GCP Compliance Findings</h4>
            <b>
                Total GCP Subscriptions Analyzed: {{gcp_compliance_data.cloud_accounts_count}}
            </b>
            {{ gcp_compliance_data.compliance_summary.to_html(index=False) | safe }}
            {{ gcp_compliance_data.compliance_findings_by_service_bar_graphic | safe }}
            {{ gcp_compliance_data.compliance_findings_by_account_bar_graphic | safe }}
            </p>
        </div>
        {% endif %}
    </div>
    {% if alerts_data %}
    <div class="alerts">

        <h2>Behavioral & Known-Bad Alerts - Polygraph Anomalies (last 7 days / top 25)</h2>
        <p>
            Using the FortiCNAPP agentless Cloud Log behavioral assessment & any behavioral data from any agents you may
            have deployed, we’ve identified the following anomalous or policy-based activity for further investigation.
        </p>

        {{ alerts_data.alerts_raw.to_html(index=False) | safe }}
    </div>
    {% endif %}
    <div class="vulnerabilities">
        {% if host_vulns_data or container_vulns_data %}

        <h2>Workload Vulnerability Assessment</h2>
        <p>
            FortiCNAPP has scanned and identified vulnerable container images and/or hosts and associated risk of the
            vulnerabilities present. If the FortiCNAPP agent was not installed as part of this assessment it may be
            installed later to highlight observed behavior, communication paths, and context.
        </p>

        {% if host_vulns_data %}
        <p><b>
            Total Hosts Scanned: {{host_vulns_data.hosts_scanned_count}}
        </b></p>

        {% endif %}

        {% if container_vulns_data %}

        <p><b>
            Total Container Images Scanned: {{container_vulns_data.containers_scanned_count}}
        </b></p>
        <br/>

        {% endif %}

        {% endif %}


        {% if host_vulns_data %}

        <h3>Host Vulnerability Summary</h3>
        {{ host_vulns_data.host_vulns_summary.to_html(index=False) | safe }}
        {{ host_vulns_data.host_vulns_summary_bar_graphic | safe }}

        {% endif %}
        <br/>
        {% if container_vulns_data %}

        <h3>Container Vulnerability Summary</h3>
        {{ container_vulns_data.container_vulns_summary.to_html(index=False) | safe }}
        {{ container_vulns_data.container_vulns_summary_by_package_bar_graphic | safe }}

        {% endif %}
    </div>
    {% if host_vulns_data or container_vulns_data or aws_compliance_data or azure_compliance_data or
    gcp_compliance_data%}
    <div class="detailed_findings">
        <h2>Appendix of Detailed Findings</h2>
        <p>This section contains additional details on the findings that were summarized above:</p>
        {% if host_vulns_data or container_vulns_data %}
        <h3>Detailed CVE Breakdown</h3>
        {% endif %}
        {% if host_vulns_data and not host_vulns_data.fixable_vulns.empty %}
        <h4>Hosts With Critical, Fixable Vulnerabilities</h4>
        <p> This table lists all hosts with "critical" vulnerabilities that have fixes available. Additional
            vulnerability information for other severity levels
            can be found in the FortiCNAPP UI. </p>
        {{ host_vulns_data.fixable_vulns.to_html() | safe }}

        {% endif %}

        {% if container_vulns_data and not container_vulns_data.fixable_vulns.empty %}

        <h4>Containers With Critical, Fixable Vulnerabilities</h4>
        <p> This table lists all containers with "critical" vulnerabilities that have fixes available. Additional
            vulnerability information can be found in the FortiCNAPP UI. </p>
        {{ container_vulns_data.fixable_vulns.to_html() | safe }}

        {% endif %}

        <br/>
        {% if aws_compliance_data or azure_compliance_data or gcp_compliance_data %}

        <h3>Detailed Cloud Compliance Findings</h3>
        <p></p>
        {% if aws_compliance_data %}
        <h4>AWS - Top High/Critical Compliance Findings</h4>
        <p></p>
        {{ aws_compliance_data.compliance_detail.to_html() | safe }}

        {% if aws_compliance_data.critical_finding_count > 0 %}
        <h4>AWS - Critical Findings with Details</h4>
        <p> This table contains CIS compliance findings with a severity of "Critical". Other severity levels can be
            reviewed in the FortiCNAPP UI. </p>
        {{ aws_compliance_data.critical_details.to_html().replace("\\n","<br>") | safe }}
        {% endif %}
        {% endif %}

        {% if azure_compliance_data %}
        <h4>Azure - Top High/Critical Compliance Findings</h4>
        <p></p>
        {{ azure_compliance_data.compliance_detail.to_html(index=False) | safe }}

        {% if azure_compliance_data.critical_finding_count > 0 %}
        <h4>Azure - Critical Findings with Details</h4>
        <p> This table contains CIS compliance findings with a severity of "Critical". Other severity levels can be
            reviewed in the FortiCNAPP UI. </p>
        {{ azure_compliance_data.critical_details.to_html().replace("\\n","<br>") | safe }}
        {% endif %}
        {% endif %}

        {% if gcp_compliance_data %}
        <h4>GCP - Top High/Critical Compliance Findings</h4>
        <p></p>
        {{ gcp_compliance_data.compliance_detail.to_html(index=False) | safe }}

        {% if gcp_compliance_data.critical_finding_count > 0 %}
        <h4>GCP - Critical Findings with Details</h4>
        <p> This table contains CIS compliance findings with a severity of "Critical". Other severity levels can be
            reviewed in the FortiCNAPP UI. </p>
        {{ gcp_compliance_data.critical_details.to_html().replace("\\n","<br>") | safe }}
        {% endif %}
        {% endif %}

        {% endif %}
    </div>
    {% endif %}
</div>

</body>
</html>
